<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AnimeApp</title>
</head>
<body>
    <h1>Anime Form</h1>
    <form method="POST" action="/predict">
    
        <label for="Title">Title</label>
        <input type="text" name="Title" id="Title"><br>
    
        <label for="Genre">Genre</label>
        <input type="text" name="Genre" id="Genre"><br>
    
        <label for="Synopsis">Synopsis</label>
        <input type="text" name="Synopsis" id="Synopsis"><br>
    
        <label for="Type">Type</label>
        <input type="text" name="Type" id="Type"><br>
    
        <label for="Producer">Producer</label>
        <input type="text" name="Producer" id="Producer"><br>
    
        <label for="Studio">Studio</label>
        <input type="text" name="Studio" id="Studio"><br>
    
        <input type="submit" value="Predict">
    </form>
</body>
</html>


